.contents {
  margin-top: 50px;
  padding: 0;
  overflow: auto;
  text-align: center;
  position: relative;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-group-addon {
  padding: 6px 150px;
  font-size: 14px;
  color: #6cbfb2;
  background-color: #eee;
  border: 1px solid #100f0f;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  position: relative;
}
.text{
  padding: 6px 15px;
  width: 350px;
}

.btn {
  padding: 6px 15px;
}

input[type="file"] {
  display: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", "SansSerif";
}

.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  top: 0px;
  position: relative;
  z-index: 1000;
  text-align: right;
  background-color: #6cbfb2;
  //float: left;
  display: inline-block;

}

.navbar a {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  //text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 15px;
  letter-spacing: 1px;
  position: relative;
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
  border: #8b001c;
}

.navbar a text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.navbar a.active {
  color: white;
}

.container {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
